<div class="pokemon-wrapper" *ngIf="pokemon">
  <div class="row">
    <div class="col">
      <img src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name.replace('-', '_')}}.gif"  alt="Sprite of {{pokemon.name | titlecase}}">
    </div>
    <div class="col-8">
      <h2>{{pokemon.name | titlecase}}</h2>
      <div class="types">
        <span *ngFor="let type of pokemon.types" class="badge badge-success">
          {{type.type.name | titlecase}}
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>

<div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

{{pokemonNr}}

