.pokemon-sprite {
  img {
    width: 100%;
  }
}

.pokemon-name {
  margin: 15px 0px;

  .types {
    margin-bottom: 20px;
  }
}

.pokemon-description {
  p {
    margin: 0;
    display: none;
    &.en-ultra-sun {
      display: block;
    }
    &.en-alpha-sapphire {
      display: block;
    }
  }
}

.pokemon-stats {
  table {
    margin: 0;
    td, th {
      border: none;
    }
    td.stat-progress-bar {
      padding-top: 11px;
    }
  }
}
