@import '../../../styles';

.sidebar {
  width: 100%;
  height: calc(100vh - 57px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $gray1;
    li {
      a {
        padding: 8px 12px;
        display: block;
        width: 100%;
        transition: background-color ease-in .1s;
        text-decoration: none;

        img {
          height: auto;
          width: 30px;
        }

        &:hover {
          background-color: $gray2;
        }

        &.selected {
          background-color: $gray4;
          &:after{
            content: "";
            position:relative;
            display:inline-block;
            width: 10px; height: auto;
            background: $blue;
          }
        }
      }
    }
  }
}
