@import '../../../styles';

.sidebar {
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding-right: 17px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $gray1;
    li {
      padding: 8px 12px;
      transition: background-color ease-in .3s;

      &:hover {
        background-color: $gray2;
      }

      &.selected {
        background-color: $gray4;
      }
    }
  }
}
