/* You can add global styles to this file, and also import other style files */

// Variables
$red: #FF0000;
$dark-red: #CC0000;
$blue: #3B4CCA;
$yellow: #FFDE00;

html, body {
  margin: 0; height: 100%; overflow: hidden
}
