/* You can add global styles to this file, and also import other style files */

// Variables
$red: #FF0000;
$dark-red: #CC0000;
$blue: #3B4CCA;
$yellow: #FFDE00;

// https://www.w3schools.com/colors/colors_shades.asp
$gray1: #FAFAFA;
$gray2: #F5F5F5;
$gray3: #F0F0F0;
$gray4: #E8E8E8;

html, body {
  margin: 0;
  height: 100%;
}
