// Type colors
$bug: #C6D16E;
$dark: #A29288;
$dragon: #A27DFA;
$electric: #FAE078;
$fairy: #F4BDC9;
$fire: #F5AC78;
$fighting: #D67873;
$flying: #C6B7F5;
$ghost: #A292BC;
$grass: #A7DB8D;
$ground: #EBD69D;
$ice: #BCE6E6;
$normal: #C6C6A7;
$poison: #C183C1;
$psychic: #FA92B2;
$rock: #D1C17D;
$steel: #D1D1E0;
$water: #9DB7F5;

// Badges
.badge-bug {
  background-color: $bug;
}
.badge-dark {
  background-color: $dark;
}
.badge-dragon {
  background-color: $dragon;
}
.badge-electric {
  background-color: $electric;
}
.badge-fairy {
  background-color: $fairy;
}
.badge-fire {
  background-color: $fire;
}
.badge-fighting {
  background-color: $fighting;
}
.badge-flying {
  background-color: $flying;
}
.badge-ghost {
  background-color: $ghost;
}
.badge-grass {
  background-color: $grass;
}
.badge-ground {
  background-color: $ground;
}
.badge-ice {
  background-color: $ice;
}
.badge-normal {
  background-color: $normal;
}
.badge-poison {
  background-color: $poison;
}
.badge-psychic {
  background-color: $psychic;
}
.badge-rock {
  background-color: $rock;
}
.badge-steel {
  background-color: $steel;
}
.badge-water {
  background-color: $water;
}
